:root {
  --paddingSize: 200px;

  --GreenColor: #6B8B5A;
  --BlueColor: #162D40;
}

.miniTitle{
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--BlueColor);
}
.miniTitle img{
  max-height: 40px;
  width: auto;
  margin-right: 15px;
}


html {
  scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.6;
    margin: 0px auto;
    padding: 0 0px;
    color: #ffffff;
    background-color: var(--GreenColor);

    font-family: "Playfair Display", serif;

}

h1 {
    color: #111;
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  width: 100%;
  height: 70px; /* Fixed header height */
  z-index: 1000;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6b8b5ade;
  backdrop-filter: blur(10px);
}

.Logo {
  margin-left: var(--paddingSize);
  display: flex;
  align-items: center;
  height: 100%;
}

.Logo img {
  max-height: 60%; /* Leaves breathing room above and below */
  width: auto;
  display: block;
}
.HeaderElements{
    margin-right: var(--paddingSize);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-direction: row;
}
.Headerhead{
    list-style-type: none;
}
.Headerhead a {
  text-decoration: none;
  color: inherit;
}

.homePage{
    height: 95vh;
    background-image: 
        linear-gradient(
            to bottom, 
            transparent 0%, 
            transparent 50%, 
            var(--GreenColor) /* Solid black at bottom */
        ),
        url('HomePageBackgroundImage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;      /* Fills the whole container without distortion */
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Left & right columns */
    grid-template-rows: 1fr 1fr;    /* Top & bottom rows */
    gap: 20px;
}
.MainText {
    position: absolute;
    bottom: 200px;
    left: var(--paddingSize);
    
    font-size: 4rem;
    font-weight: bold;
}

/* Top-Right placement */
.SmallText {
    position: absolute;
    top: 200px;
    right: var(--paddingSize);
    color: #ffffff;
    
    max-width: 400px;
    text-align: right;

    background-color: #162840b2;
    border-radius: 10px;
    padding: 15px;
}
.aboutPage{
    background-color: var(--GreenColor);
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 150px var(--paddingSize) 0px var(--paddingSize);
}
.aboutImage{
    width: 40%;
    background-color: red;
    padding: 30px;
}
.aboutImage img{
  width: 100%;
  height: 100%;
    object-fit: fill;
}
.textAbout{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(25, 0, 255);
}
.aboutTitle{
font-size: 60px;
}
.aboutInfo{
font-size: auto;
margin-top: 100px;
}

.dienstenPage{
    height: 90vh;
    background: linear-gradient(180deg,rgba(107, 139, 90, 1) 0%, rgba(203, 219, 189, 1) 50%, rgba(203, 219, 189, 1) 100%);
    padding-top: 200px;
    padding: 200px var(--paddingSize);
}
.dienstenContent{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.Cards{
    flex: 0.45;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    width: 100%;
    height: 600px;
    width: 100%;
}
.cardTitle{
  font-size: 30px;
}
.cardUitleg{
font-size: 20px;
}
.card01{
    background-color: var(--GreenColor);
    flex: 1;
    border-radius: 20px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    padding: 14px 0px 0px 24px;
}

.imageDiensten{
    flex: 0.55;
    background-color: red;
    border-radius: 20px;
    width: 100%;
    height: 600px;
     width: 100%;
}


/* .projectenPage{
    min-height: 90vh;
    padding: 50px 5%;
    max-width: 1400px; 
    margin: 0 auto;
} */

/* .projectenGallery{
    display: grid;
    /* Automatically creates columns (min 280px wide) and centers them 
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 20px;
    justify-content: center;
} */

/* .Project{
    height: 300px;
    background-color: white;
} */
.projectenPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #F5F5F5;
  font-family: Roboto;
  padding-bottom: 100px;
  padding-left: var(--paddingSize);
  padding-right: var(--paddingSize);
}

h1{
  font-size: 40pt;
  font-weight: 500;
  color: #363638;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 410px;
  width: 100%;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.item:hover{
  cursor: pointer;
}

.item *{
  transition: all 0.35s ease-in-out;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: 310px;
}

.item:hover img {
  opacity: 0.8;
}

.text{
  width: 80%;
  height: 90%;
  position: absolute;
  bottom: -20px;
  left: 10%;
  color: #01A2AC;
}

.text h3{
  color: black;
}

.item:hover .text{
  top: 20%;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #F5F5F5;
  margin: 5% auto;
  box-sizing: border-box;
  width: 700px;
  max-height: 714px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.scale{
  animation: scale 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scale{
  from{transform: scale(0);}
  to{transform: scale(1);}
}

#img{
  width: 100%;
  height: 450px;
}

#details{
  padding: 25px;
  text-align: left;
  position: relative;
  height: 264px;
  box-sizing: border-box;
  border-top: 1px solid #363638;
}

#details *{
  transition: all .3s;
}

#title{
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#details .button{
  position: absolute;
  width: 30%;
  background-color: #01A2AC;
  color: #F5F5F5;
  text-align: center;
  left: 25px;
  bottom: 35px;
  padding: 15px;
}

#details i{
  position: absolute;
  bottom: 30px;
  right: 25px;
  font-size: 3rem;
  color: #01A2AC;
}

#details .button:hover,
i:hover{
  cursor: pointer;
  opacity: 0.8;
}

/* Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.close:hover,
.close:focus {
  color: #363638;
  text-decoration: none;
  cursor: pointer;
}












.contactPage{
    min-height: 70vh;
    padding: 50px 0;
    margin: 0 auto;
    background-color: white;
}
.contactTitle{
color: #111;
margin-left: var(--paddingSize);
}

.contactContent{
    display: grid;
    padding: 0px var(--paddingSize);
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.contactenLeft{
}

.contactenRight{
    background-color: var(--GreenColor);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.contactRightTekst{
    font-size: 40px;
}

.HulpNodig{
    font-size: 70px;
    color: black;
}

.contactenTekstje{
    font-size: 24px;
    margin-top: 30px;
    color: black;
}

.buttonMail{
  height: 60px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttonPhone{
  height: 60px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: -30px;
}

.buttonMailLeft{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BlueColor);
  padding: 0px 100px 0px 20px;
  border-radius: 30px 10px 10px 30px;
  text-decoration: none;
  color: white;
}
.buttonMailRight{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px, rgba(255, 255, 255, 0.4);
  border-style: solid;
  padding: 0px 20px 0px 15px;
  border-radius: 10px 30px 30px 10px;
  text-decoration: none;
  color: #162840;
}
.buttonPhone, .buttonMail {
  text-decoration: none !important;
}



@media (max-width: 1200px) {
  :root {
    --paddingSize: 100px;
  }

  .Cards{
    height: 400px;
}
.imageDiensten{

    height: 400px;
}
}